/* .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hive {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  position: absolute;
  height: 140px;
  padding: 25px;
}

.center {
  position: absolute;
  height: 140px;
}
/*
.0 {
  transform: translate(-75%, -50%);
}

.1 {
  transform: translate(0, -100%);
}

.2 {
  transform: translate(75%, -50%);
}

.3 {
  transform: translate(75%, 50%);
}

.4 {
  transform: translate(0, 100%);
}

.5 {
  transform: translate(-75%, 50%);
} */

/* .in {
  transform: translate(0, 0);
} */

.hexagon {
  fill: white;
  stroke: url(#gradient);
  /* stroke: black; */
  stroke-width: 6;
  stroke-opacity: 0.7;
}

.letter {
  text-anchor: middle;
  font-weight: 700;
  font-size: 1.875em;
  text-transform: uppercase;
  fill-opacity: 0.65;
  /* text-color: rgba(0, 0, 0, 0.435); */
}

.questionMark {
  text-anchor: middle;
  font-weight: 700;
  font-size: 1.875em;
  text-transform: uppercase;
  fill: url(#gradient);
  /* opacity: 0.7;
  width: 5px;
  height: 5px; */
  /* font-size: 55px;
  opacity: 0.7;
  margin-right: 1px; */
  /* fill: black; */
}

.gradient {
  height: 0px;
  width: 0px;
}