.main {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCell {
  position: absolute;
  height: 140px;
  /* top: 45%;
  left: 44.5%; */
}

.hexagon {
  fill: white;
  stroke: url(#gradient);
  stroke-width: 6;
  stroke-opacity: 0.7;
}

.buttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  align-items: center;
  justify-content: center;
  /* padding-left: 1%; */
}

.innerContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: transparent;
  height: 11%;
  width: 20%;
  /* margin: 2%; */
  /* margin-bottom: none; */
  outline: none;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.65;
  border: none;
  border-bottom: 8px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, rgba(64, 93, 230), rgba(88, 81, 219), rgba(131, 58, 180), rgba(193, 53, 132), rgba(225, 48, 108), rgba(253, 29, 29));
}

.shakeOne {
  background-color: transparent;
  height: 11%;
  width: 20%;
  /* margin: 2%; */
  outline: none;
  /* transform: translateX(-13px); */
  /* padding-left: 1rem; */
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.65;
  border: none;
  border-bottom: 8px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, rgba(64, 93, 230), rgba(88, 81, 219), rgba(131, 58, 180), rgba(193, 53, 132), rgba(225, 48, 108), rgba(253, 29, 29));
  animation: shake 0.7s cubic-bezier(.36, .07, .19, .97) both;
}

.shakeTwo {
  background-color: transparent;
  height: 11%;
  width: 20%;
  /* margin: 2%; */
  outline: none;
  /* transform: translateX(-13px); */
  /* padding-left: 1rem; */
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.65;
  border: none;
  border-bottom: 8px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, rgba(64, 93, 230), rgba(88, 81, 219), rgba(131, 58, 180), rgba(193, 53, 132), rgba(225, 48, 108), rgba(253, 29, 29));
  animation: shake 0.7s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.button {
  background-color: transparent;
  height: 11%;
  width: 20%;
  /* transform: translateX(-13px); */
  font-size: 30px;
  font-weight: 600;
  opacity: 0.65;
  /* text-transform: uppercase; */
  border: 8px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, rgba(64, 93, 230), rgba(88, 81, 219), rgba(131, 58, 180), rgba(193, 53, 132), rgba(225, 48, 108), rgba(253, 29, 29));
  box-shadow: 2px 3px 5px 0.75px rgba(0, 0, 255, .2);
}

.button:hover {
  background-color: rgb(241, 241, 252);
}

.or {
  z-index: 3;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.7;
  background: linear-gradient(45deg, rgba(64, 93, 230), rgba(88, 81, 219), rgba(131, 58, 180), rgba(193, 53, 132), rgba(225, 48, 108), rgba(253, 29, 29));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}