.container {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "top-left top-middle top-right" ". hive ." "input input input"
}

.top_left {
  grid-area: top-left;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 10px;
}

.top_middle {
  grid-area: top-middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
}

.top_right {
  grid-area: top-right;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
}

.hive {
  grid-area: hive;
}

.input {
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.icon {
  fill: url(#gradient);
  font-size: 55px;
  opacity: 0.8;
  margin-right: 1px;
}

