.container {
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "score . timer" ". hive ." ". input ."
}

.hive {
  grid-area: hive;
}

.input {
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.score {
  grid-area: score;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10px;
}

.timer {
  grid-area: timer;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}